@{
    Layout = "~/Views/Shared/_LayoutAfiliados.cshtml";
}

<div class="main banner" style="height:auto">
    <h2 class="titleCommon titleSpacer">Materiais de Apoio para Divulgação</h2>
    <p class="textInfoBanner">
        Você também poderá utilizar links diretos através de textos e/ou imagens de sua preferência. <br>
        Seu link: <a href="javascript:void(0);">https://kinkeesugar.com/u/@ViewBag.CodigoConvite</a>
    </p>
</div>

<p class="textInfoBanner">
    Use uma das imagens para compartilhar nas redes sociais e sua preferência. Também temos alguns textos de apoio para te ajudar a atingir mais pessoas.<br>
</p>
<div class="main banner">
    <ul id="listHighlightsContent" class="ulListBanners">
        <li class="itemListBanners">
            
            @*<div class="imgBanner">
                <a href="https://advertising.sexlog.com/affiliates/images/previews/pt-br/728x90_01_2.jpg" target="_blank">
                    <img src="https://advertising.sexlog.com/affiliates/images/thumbs/728x90_01_2_thumb.jpg">
                    <div class="hoverImgBanner"><div class="textHoverImg"><span class="icoHover"></span>visualizar banner</div></div>
                </a>
            </div>*@
            <h2 class="titleBanner">Convite para o programa de Afiliados</h2>
            <p class="descriptionBanner">Uso indicado para convidar outras babies que também querem ganhar dinheiro na kinkee</p>
            <p class="copyHTML">Selecione o texto e copie para compartilhar:</p>

            <textarea id="textareaBannerHighlight262" class="textareaBanner" style=" min-height: 300px;">
Ganhe até R$26 reais por cada Daddy que você convidar para a Kinkee!
Para ganhar é fácil:

1 - Use seu link exclusivo para convidar pessoas para se cadastrar na Kinkee.
2 - Se essa pessoa for um Daddy e for aprovada no site, você já começa a ganhar, e ganha com a utilização e também uma porcentagem de tudo que ele comprar no site, seja assinatura ou Kinkee Points.
3 - Você também ganha uma porcentagem em tudo que as babies que você convidou gastarem.

Você também ganha uma pequena porção de tudo que todas as pessoas que você convidou ganharam no programa de afiliados!

Cadastre-se agora:
https://kinkeesugar.com/u/@ViewBag.CodigoConvite
            </textarea>
        </li>

    </ul>
</div>
