@{
    Layout = "~/Views/Shared/_LayoutAfiliados.cshtml";
}

<div class="commission">
    <h2 class="titleCommon titleSpacer">Referências</h2>
    <p class="textInfoCommission">
        Indique novos afiliados e ganhe comissão sobre todo o rendimento de cada um deles.<br>
        Seu link: <a href="javascript:void(0);">https://kinkeesugar.com/u/@ViewBag.CodigoConvite</a>
    </p>
</div>

<div class="stepBystepHome home commission">
    <div class="center">
        <h2 class="howwork">Como funciona?</h2>
        <ul class="ulListItensHome itensStepByStep">
            <li class="listItemHome">
                <h3 class="capitularNumber">1</h3>
                <h2 class="titleItem">Divulgue seu link</h2>
                <p class="textItem">Compartilhe seu link com seus amigos e amigas e aguarde os que se cadastrarem serem aprovados.</p>
            </li>
            <li class="listItemHome">
                <h3 class="capitularNumber">2</h3>
                <h2 class="titleItem">Novos afiliados</h2>
                <p class="textItem">Usuários cadastrados a partir do seu link, você ganhará sobre o gasto e rendimento de cada um deles.</p>
            </li>
            <li class="listItemHome">
                <h3 class="capitularNumber">3</h3>
                <h2 class="titleItem">Ganhe sobre o rendimento</h2>
                <p class="textItem">Agora é só aguardar, você ganhará sobre o rendimento de cada um dos afiliados cadastrados a partir do seu link!</p>
            </li>
        </ul>
    </div>
</div>

<div class="commission">
    <h3 class="titleCommission">Programa de Afiliados</h3>
    @*<p class="textCommission">Fizemos alguns banners para você inserir em seu site. Clique sobre o banner, copie e cole o código html ao lado no seu site.</p>
        <div class="bannersCommission">
            <ul class="ulBannersCommission">
                <a class="aLink" href="javascript:void(0);" rel="<iframe src=&quot;https://advertising.sexlog.com/affiliates/banners/iframes/12060/banner4/menininhateste{1}&quot; height=&quot;60&quot; width=&quot;120&quot; frameborder=&quot;0&quot;></iframe>">
                    <li class="itemBannnersCommission">
                        <img src="https://advertising.sexlog.com/affiliates/images/stamp/pt-br/120x60_b04.gif">
                    </li>
                </a>
                <a class="aLink" href="javascript:void(0);" rel="<iframe src=&quot;https://advertising.sexlog.com/affiliates/banners/iframes/12060/banner3/menininhateste{1}&quot; height=&quot;60&quot; width=&quot;120&quot; frameborder=&quot;0&quot;></iframe>">
                    <li class="itemBannnersCommission">
                        <img src="https://advertising.sexlog.com/affiliates/images/stamp/pt-br/120x60_b03.gif">
                    </li>
                </a>
                <a class="aLink" href="javascript:void(0);" rel="<iframe src=&quot;https://advertising.sexlog.com/affiliates/banners/iframes/12060/banner2/menininhateste{1}&quot; height=&quot;60&quot; width=&quot;120&quot; frameborder=&quot;0&quot;></iframe>">
                    <li class="itemBannnersCommission">
                        <img src="https://advertising.sexlog.com/affiliates/images/stamp/pt-br/120x60_b02.gif">
                    </li>
                </a>
                <a class="aLink" href="javascript:void(0);" rel="<iframe src=&quot;https://advertising.sexlog.com/affiliates/banners/iframes/12060/banner1/menininhateste{1}&quot; height=&quot;60&quot; width=&quot;120&quot; frameborder=&quot;0&quot;></iframe>">
                    <li class="itemBannnersCommission">
                        <img src="https://advertising.sexlog.com/affiliates/images/stamp/pt-br/120x60_b01.gif">
                    </li>
                </a>
            </ul>
            <textarea class="urlBannersCommission">dasdas</textarea>
        </div>*@
    <h3 class="titleCommission">Conheça os 3 perfis de afiliados</h3>
    <p>Os valores já consideram todos os custos e impostos. Esse é o valor que você receberá na sua conta bancária.</p>
    <ul class="tableData">
        <li class="itemTable titleTable">
            <div class="item mainItem nameCommission">Perfil</div>
            <div class="item dateCommission">Daddy aprovado</div>
            <div class="item signupsCommission">Ele fez assinatura?</div>
            <div class="item subscriptionsCommission">Comprou Kinkee Points</div>
            <div class="item incomeCommission">Valor</div>
        </li>
        <li class="itemTable titleTable">
            <div class="item mainItem nameCommission">VOCÊ NÂO TEM ASSINATURA</div>
            <div class="item dateCommission">SIM</div>
            <div class="item signupsCommission">SIM</div>
            <div class="item subscriptionsCommission">SIM</div>
            <div class="item incomeCommission">R$ 17,49</div>
        </li>
        <li class="itemTable titleTable">
            <div class="item mainItem nameCommission">VOCÊ É INFLUENCER*</div>
            <div class="item dateCommission">SIM</div>
            <div class="item signupsCommission">SIM</div>
            <div class="item subscriptionsCommission">SIM</div>
            <div class="item incomeCommission">R$ 20,85</div>
        </li>

        <li class="itemTable titleTable">
            <div class="item mainItem nameCommission">VOCÊ TEM ASSINATURA</div>
            <div class="item dateCommission">SIM</div>
            <div class="item signupsCommission">SIM</div>
            <div class="item subscriptionsCommission">SIM</div>
            <div class="item incomeCommission">R$ 26,66</div>
        </li>
    </ul>
   
    <p class="textCommission">Só é possível aderir ao perfil de influencer através de convite.</p>
    <div class="attention">
        <h2 class="titleAttention">Atenção!</h2>
        <p class="textAttention">É proibido enviar mensagens em massa se enquadrando como spam, com seu link de referência. Sua conta poderá ser deletada sem aviso. Qualquer tentativa de enganar o sistema irá resultar na exclusão de sua conta e na perda automática de todo o seu saldo.</p>
    </div>
</div>