@{
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

    <div class="Ta(c) Expand Mx(a)" style="height:auto;">
        <img src="~/static/build/logo_modal.svg" />
        <div class="">
            <h3 class="Fz($ml) Fw($bold) Mb(36px) Mt(20px) Mb(12px)--s Mt(8px)--s Fs(i)">Recuperação de conta</h3>
        </div>
        <div class="C($c-secondary) Mt(4px) Mb(40px) Fz($m)">Não está conseguindo conectar a sua conta? Vamos te ajudar a entrar com seu e-mail!</div>
        <button type="button" class="btnRecuperaContaEmail button Lts($ls-s) Z(0) CenterAlign Mx(a) Cur(p) Tt(u) Ell Bdrs(100px) Px(24px) Px(20px)--s Py(0) Mih(54px) Pos(r) Ov(h) C(#fff) Bg($c-pink):h::b Bg($c-pink):f::b Bg($c-pink):a::b Trsdu($fast) Trsp($background) Bg($primary-gradient) button--primary-shadow StyledButton Fw($semibold) focus-button-style My(20px) Maw(315px) W(100%) Ell" draggable="false">
            <span class="Pos(r) Z(1)">Entrar com e-mail</span>
        </button>
    </div>
