@{
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

    <div class="Ta(c) H(100%) D(f) Fld(c) Pos(r)" style="height:auto;">
        <div class="">

            <img src="~/static/build/logo_modal.svg" />
            
            <div class="">
                <h3 class="Fz($ml) Fw($bold) Fs(i) Tt(u) Mb(16px) Mt(20px)">Hora de Começar</h3>
                <div class="Fz($ms) C($c-secondary)">
                    <div class=""></div>
                </div>
            </div>
            <div class="W(100%) Mt(20px) Mb(30px) Fz($xs) C($c-base)">Ao clicar em <span class="Tt(c)">Entre</span>, você concorda com os nossos <a class="C($c-secondary) focus-outline-style Td(u) Td(n):h" href="https://www.gotinder.com/terms?locale=pt" target="_blank" rel="noopener noreferrer" aria-describedby="open-in-new-window">Termos</a>. Saiba como processamos seus dados em nossa <a class="C($c-secondary) focus-outline-style Td(u) Td(n):h" href="https://www.gotinder.com/privacy?locale=pt" target="_blank" rel="noopener noreferrer" aria-describedby="open-in-new-window">Política de Privacidade</a> e <a class="C($c-secondary) focus-outline-style Td(u) Td(n):h" href="https://www.gotinder.com/cookie-policy?locale=pt" target="_blank" rel="noopener noreferrer" aria-describedby="open-in-new-window">Política de Cookies</a>.</div>
            <div>
                <span class="D(ib)--s W(100%)--s My(12px)--s My(8px)--xs C($c-secondary)">
                    <div>

                        <div id="btnLoginKinkee" class="My(10px) My(16px)--m">
                            <button type="button" class="button Lts($ls-s) Z(0) CenterAlign Mx(a) Pos(r) Cur(p) Tt(u) Bdrs(100px) Px(48px) Px(40px)--s Py(0) Mih(54px) button--outline Bdw(2px) Bds(s) Trsdu($fast) Bdc($c-secondary) C($c-secondary) Bdc($c-base):h C($c-base):h Bdc($c-base):f C($c-base):f Bdc($c-base):a C($c-base):a Fw($semibold) focus-button-style Mb(20px)--ml W(100%)--ml W(100%)--s Fz(4vw)--s" draggable="false" aria-label="Entrar com a Kinkee">
                                <span class="Pos(a) Start(16px) Z(1) Sq(16px)--s Sq(24px)--ml" style="width:30px; height:30px;">
                                    <img src="/static/build/kinkee_login.png" class="Va(tt) Expand" role="presentation" height="16" width="16">
                                </span>
                                <span class="Pos(r) Z(1) D(ib)">Entrar com a Kinkee</span>
                            </button>
                        </div>
                    </div>
                    <div class="My(10px) My(16px)--m">
                        <button type="button" class="btnCadastrarCeluar button Lts($ls-s) Z(0) CenterAlign Mx(a) Pos(r) Cur(p) Tt(u) Bdrs(100px) Px(48px) Px(40px)--s Py(0) Mih(54px) button--outline Bdw(2px) Bds(s) Trsdu($fast) Bdc($c-secondary) C($c-secondary) Bdc($c-base):h C($c-base):h Bdc($c-base):f C($c-base):f Bdc($c-base):a C($c-base):a Fw($semibold) focus-button-style Mb(20px)--ml W(100%)--ml W(100%)--s Fz(4vw)--s" draggable="false" aria-label="Cadastrar">
                            <span class="Pos(a) Start(16px) Z(1) Sq(16px)--s Sq(24px)--ml">
                                <svg class="Va(tt) Sq(16px)--s Sq(24px)--ml ScaleX(-1)" viewBox="0 0 79 72" width="79px" height="72px" focusable="false" aria-hidden="true" role="presentation">
                                    <path d="M137.5 72C115.685 72 98 86.459 98 104.292c0 17.835 17.685 32.291 39.5 32.291h.918c.013 0 .028-.024.041-.03.59-.014 1.183-.021 1.765-.056l4.573 2.334h.003l9.098 4.645c2.516 1.284 4.575.126 4.575-2.574v-9.251C169.6 125.94 177 115.825 177 104.29 177 86.46 159.315 72 137.5 72" transform="translate(-98 -72)" fill="" fill-rule="evenodd"></path>
                                </svg>
                            </span>
                            <span class="Pos(r) Z(1) D(ib)">Entrar com Email e Celular</span>
                        </button>
                    </div>
                    <button id="btnProblemaLogin" class="Td(u) Cur(p) Fw($medium) focus-outline-style">Problemas para fazer login?</button>
                </span>
                <div class="Mt(24px)">
                    <hr class="Bdw(0) M(0) Bgc($c-divider) H(1px) Mt(-1px)">
                    <h3 class="Mb(12px) Mt(24px) Fz($ml) Fw($bold) Fs(i) Tt(u)">Baixe o aplicativo!</h3>
                    <div class="nativeAppsLinks Ta(c)">
                        <div class="D(f) M(a) Jc(sb)--s Jc(c)--ml">
                            <a class="W(148px) focus-outline-style Mx(8px) My(0)" href="https://go.tinder.com/web-ios-download" target="_blank" rel="noopener noreferrer" aria-describedby="open-in-new-window">
                                <div class="react-aspect-ratio-placeholder" style="--aspect-ratio:(294/120);"><img loading="lazy" src="/static/build/606663ca72184ac254e16eaa54bf0cde.png" alt="Download para iOS"></div>
                            </a>
                            <a class="W(148px) focus-outline-style Mx(8px) My(0)" href="https://go.tinder.com/web-android-download" target="_blank" rel="noopener noreferrer" aria-describedby="open-in-new-window">
                                <div class="react-aspect-ratio-placeholder" style="--aspect-ratio:(294/120);"><img loading="lazy" src="/static/build/477837e3452d4dd877a3110532abdc83.png" alt="Download para Android"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
