@{
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

    <div class="Ta(c) Expand Mx(a)" style="height:auto;">
        <img src="~/static/build/logo_modal.svg" />
        <div class="">
            <h3 class="Fz($ml) Fw($bold) Mb(36px) Mt(20px) Mb(12px)--s Mt(8px)--s Fs(i)">Entrar via e-mail</h3>
        </div>

        <div class="CenterAlign Fld(c) Ta(c) Ta(start)--s W(100%)">
            <div class="C($c-secondary) Mt(4px) Mb(30px) Fz($m)">Enviaremos um link por e-mail que permitirá o login instantâneo</div>
            <input class="Fz($m) Va(m) Py(8px) Bdrs(4px)--ml Bgc($c-divider-lite)--ml Px(8px)--ml BdB--s Bdrs(0)--s Bdbc($c-secondary)--s Px(4px)--s D(ib) W(100%) Mt(30px) Mb(10px) Lts($ls-m)" type="email" id="email" placeholder="Endereço de e-mail">
            <div class="V(h) C($c-red) Mt(4px) Mb(30px) Fz($s)">Endereço de e-mail inválido</div>
            <button type="button" class="button Lts($ls-s) Z(0) CenterAlign Mx(a) Cur(d) Op(.8) Tt(u) Ell Bdrs(100px) Px(24px) Px(20px)--s Py(0) Mih(54px) Pos(r) Ov(h) C(#fff) Bg($c-pink):h::b Bg($c-pink):f::b Bg($c-pink):a::b Trsdu($fast) Trsp($background) Bg($c-gray) Bxsh(n) Fw($semibold) focus-button-style My(20px) Maw(315px) W(100%) Ell" draggable="false" disabled="" aria-disabled="true"><span class="Pos(r) Z(1)">Enviar e-mail</span></button>
        </div>
    </div>
