
@{
    Layout = null;
}

<div class="footer-links">
    <a href="#">Afiliados</a>
    <span class="dot">.</span>
    <a href="#">Termos de uso</a>
    <span class="dot">.</span>
    <a href="#" title="Central de ajuda">
        Central de ajuda
    </a>
</div>
