
@{
    Layout = null;
}

<div class="container-fluid myaccount-header institute-header">
    <div class="container-flex">
        <div class="row">
            <div class="col-md-3 hidden-xs hidden-sm">
                <h2>Institucional</h2>
            </div>
            <div class="col-md-9">
                <div class="myaccount-options dropdown">
                    <button class="sl-btn btn-link myaccount-button-options" data-toggle="dropdown">
                        Sobre a Kinkee <i></i>
                    </button>
                    <ul class="institute-nav dropdown-menu">

                        <li class="active">
                            <a href="sobre">
                                Sobre a Kinkee
                            </a>
                        </li>

                        @*<li class="">
                            <a href="sobre/imprensa">
                                Imprensa
                            </a>
                        </li>*@

                        <li class="">
                            <a href="sobre/seguranca">
                                Segurança e privacidade
                            </a>
                        </li>

                        <li class="">
                            <a href="sobre/termos">
                                Termos
                            </a>
                        </li>

                        <li class="">
                            <a href="sobre/trabalhe-conosco">
                                Trabalhe conosco
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
