@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Bloqueado";
}

<hgroup>
    <h1 class="text-danger">Bloqueado.</h1>
    <h2 class="text-danger">Esta conta foi bloqueada. Veja um dos motivos que levam uma conta ser bloqueada na Kinkee:</h2>
    <ul>
        <li>Perfil com denúncias recorrentes.</li>
        <li>Comportamentos que ferem nossos Termos de Uso como divulgação de redes sociais, endereço de e-mail e telefone.</li>
        <li>Fotos inapropriadas.</li>
    </ul>
    <h3>Caso você acredite que tenha havido algum engano, entre em contato pelo e-mail: contato@Kinkee.me</h3>
    
</hgroup>
