

@{
    Layout = null;
}

    <li class="ng-scope">

        <a href="https://www.sexlog.com/mensagens/arabesafado33?notification" class="clearfix line" target="_self">

            <!-- Avatar -->
            <div class="avatar overlayContentCard" login="arabesafado33" hoverintent_s="0">
                <img ng-src="https://cdn03.sexlog.com.br/crop_60x60/data/f/arabesafado33_2_avatar.jpg" alt="." class="img-circle" src="https://cdn03.sexlog.com.br/crop_60x60/data/f/arabesafado33_2_avatar.jpg">
            </div>

            <!-- Nome e descrição -->
            <div class="about">
                <div class="about-section">
                    <div href="#" class="title overlayContentCard ng-binding" login="arabesafado33" hoverintent_s="0" target="_self">arabesafado33</div>
                    <span class="subtitle date ng-binding">Qui</span>
                </div>
                <div class="about-section">
                    <p>
                        <!-- ngIf: message.reserved -->
                        <span ng-bind-html="message.notification" class="ng-binding">ola de onde vc é?</span>
                    </p>
                </div>
            </div>

        </a>

    </li>