@media (min-width: 600px) {
    .container {
        width: 80%
    }
}
@media (min-width: 992px) {
    .container {
        width: 650px
    }
}
@media (min-width: 1200px) {
    .container {
        width: 650px
    }
}
@media (min-width: 1415px) {
    .container {
        width: 650px
    }
}
@media (min-width: 1615px) {
    .container {
        width: 650px
    }
}

input[type=text].form-control, input[type=search].form-control, input[type=password].form-control, input[type=number].form-control, input[type=email].form-control, textarea.form-control
{
        height: auto;
}