

@{
    Layout = null;
}




<div class='col-sm-4' style="width:100%;">
    <div class='box-info text-center user-profile-2' style="width:100%; height: 150px;">
        <div class='header-cover' style="float:left;">
            <a target='_self' href='/Dating/Perfil/raphaelsanto'>
                <div class='container-img-list' style='background-image: url("/pulsar/Kinkee/assets/images/modules/sobre/profile.png"); width:100px; height:100px;'></div>
            </a>
        </div>

        <div style="float:left;">
            <a target='_self' href='/Dating/Perfil/raphaelsanto'>
                <h4 class='white'>sdasd</h4>
                <h5>São Paulo</h5>
            </a>
        </div>

        <div style="margin-top:44px;">
            <a class="sl-btn btn-primary-inverse text-uppercase" title="Assine">Adicionar aos amigos</a>
        </div>

    </div>
</div>