
@{
    Layout = null;
}

<div class="profile-container profile-about">

    <div class="about-summary">
        <h2 class="section-header">
            <i class="icon icon-profile-home-about"></i>
            Sobre
        </h2>
        <div class="profile-box">
            <p>SOMOS UM CASAL ....ROMÂNTICO e BEM RESOLVIDOS....Visualizamos o SEXO....como uma Arte a ser Desvendada.....Sejam bem vindos ao perfil....ACEITAR AMIZADES NÃO SIGNIFICA Q VAMOS SAIR...Sejam Educados.....MINHA ESPOSA ESCOLHE CONVERSAR COM QUEM TÊM O HÁBITO DE COMENTAR AS FOTOS.....Existe um processo p nos conhecer..... Somente Havendo Afinidades,Marcaremos um encontro social ......que poderá levar ao objetivo desejado por Ambas as partes.💋💕❤👠👠</p>
        </div>
    </div>

    <div class="about-info">
        <h2 class="section-header">
            <i class="icon icon-profile-home-about"></i>
            Informações pessoais
        </h2>
        <div class="profile-box no-padding couple">
            <table class="profile-table">
                <thead>
                    <tr>
                        <th class="">Casal</th>
                        <th class="divider right">Ele</th>
                        <th class="divider right">Ela</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="label">
                            Nome
                        </td>
                        <td class="divider right">
                            -
                        </td>
                        <td class="divider right">
                            Paulinha
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            Idade
                        </td>
                        <td class="divider right">
                            -
                        </td>
                        <td class="divider right">
                            -
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            Orientação Sexual
                        </td>
                        <td class="divider right">
                            Heterossexual
                        </td>
                        <td class="divider right">
                            Heterossexual
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            Profissão
                        </td>
                        <td class="divider right">
                            Empresa arquitetura e design...
                        </td>
                        <td class="divider right">
                            Assessoria e Administração de eventos
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            Estado civil
                        </td>
                        <td class="divider right">
                            Casado(a)
                        </td>
                        <td class="divider right">
                            Casado(a)
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            Signo
                        </td>
                        <td class="divider right">
                            -
                        </td>
                        <td class="divider right">
                            -
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            Etnia
                        </td>
                        <td class="divider right">
                            Branco
                        </td>
                        <td class="divider right">
                            Branco
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            Cabelos
                        </td>
                        <td class="divider right">
                            Grisalhos <small></small>
                        </td>
                        <td class="divider right">
                            Loiros <small>Liso</small>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            Olhos
                        </td>
                        <td class="divider right">
                            Pretos
                        </td>
                        <td class="divider right">
                            Pretos
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            Altura
                        </td>
                        <td class="divider right">
                            1.74 m
                        </td>
                        <td class="divider right">
                            1.71 m
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            Corpo
                        </td>
                        <td class="divider right">
                            80 Kg <small>Magro(a)</small>
                        </td>
                        <td class="divider right">
                            70 Kg <small>Magro(a)</small>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            Fuma
                        </td>
                        <td class="divider right">
                            Não
                        </td>
                        <td class="divider right">
                            Não
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            Bebe
                        </td>
                        <td class="divider right">
                            Socialmente
                        </td>
                        <td class="divider right">
                            Socialmente
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="about-interests">
        <h2 class="section-header">
            <i class="icon icon-profile-home-about"></i>
            Interesses
        </h2>
        <div class="profile-box no-padding">
            <table class="profile-table">
                <tbody class="break-line">

                    <tr>
                        <td class="label">Procurando por</td>
                        <td>
                            Mulher
                            Casal Ele/Ela
                        </td>
                    </tr>

                    <tr>
                        <td class="label">Objetivos</td>
                        <td>
                            Troca de casal
                            Ménage masculino sem bi
                            Sexo no mesmo ambiente
                            Ménage feminino sem bi
                            Ménage feminino com bi
                            Exibicionismo
                        </td>
                    </tr>

                    <tr>
                        <td class="label">Fetiches</td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div> 