
@{
    Layout = null;
}


@Styles.Render("~/modules/css/certification-modal-intro");


<div class="modal-backdrop in" modal-backdrop="" style="z-index: 1040;"></div>

<div tabindex="-1" role="dialog" class="modal ng-isolate-scope sl-modal slmodal undefined" index="0" style="z-index: 1050; display: block;">
    <div class="modal-dialog">
        <div class="modal-content" modal-transclude="">
            <div class="slmodal__content ng-scope">
                <div class="certification-modal__intro--mulher ng-scope">
                    <slmodal-close class="ng-isolate-scope"><div id="js-action-close-modal" class="slmodal__close js-action-close-modal">×</div></slmodal-close>
                    <div class="slmodal__body slmodal__body--center" ng-transclude="" center="">

                        <h2 class="ng-binding ng-scope">Classificação do Sugar Score</h2>
                        <p class="ng-scope">As Sugar Babies são classificadas com nomes de pedras preciosas e cada pedra tem uma quantidade de pontuação.</p>
                        <br />
                        <div style="margin: 0 auto; width: 300px; padding-bottom: 130px;">
                            <div class="certification-modal__thumb">
                                <label>OPALA</label>
                                <img src="~/modules/img/1_gema_opala.svg" />
                                <label>(1 - 1499)</label>
                            </div>

                            <div class="certification-modal__thumb">
                                <label>ESMERALDA</label>
                                <img src="~/modules/img/2_gema_esmeralda.svg" />
                                <label>(1500 - 1999)</label>
                            </div>

                            <div class="certification-modal__thumb">
                                <label>ESPINELA</label>
                                <img src="~/modules/img/3_gema_espinela.svg" />
                                <label>(2000 - 2499)</label>
                            </div>
                        </div>
                        <hr />

                        <div style="margin: 0 auto; width: 300px; padding-bottom: 130px;">
                            <div class="certification-modal__thumb">
                                <label>SAFIRA</label>
                                <img src="~/modules/img/4_gema_safira.svg" />
                                <label>(2500 - 2999)</label>
                            </div>

                            <div class="certification-modal__thumb">
                                <label>RUBI</label>
                                <img src="~/modules/img/5_gema_rubi.svg" />
                                <label>(3000 - 3499)</label>
                            </div>

                            <div class="certification-modal__thumb">
                                <label>TURMALINA</label>
                                <img src="~/modules/img/6_gema_turmalina.svg" />
                                <label>(3500 - 3999)</label>
                            </div>
                        </div>
                        <hr />

                        <div style="margin: 0 auto; width: 100px; padding-bottom:130px;">
                            <div class="certification-modal__thumb">
                                <label>DIAMANTE</label>
                                <img src="~/modules/img/7_gema_diamante.svg" />
                                <label>(4000 - 5000)</label>
                            </div>
                        </div>


                        @if (!ViewBag.Assinatura)
                        {
                            <button class="slmodal__btn ng-scope ng-isolate-scope js-assinatura-partial">
                                Quero aumentar minha classificação!
                            </button>
                        }
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).on("click", ".js-assinatura-partial", function (e) {
        $('#ShareModal').empty();
        $('#preLoadModal').css('display', 'block');

            $.get('@Url.Action("_ModalPremiumPartial", "MinhaConta")', function (data) {

                $('#preLoadModal').css('display', 'none');

                $('#ShareModal').append(data);
            });
            e.preventDefault();
    });


</script>