@model Mongo.Models.UserModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div ng-controller="ExploreController" class="ng-scope">

    <!-- Filter -->
    <div class="container-fluid explore-filter">

        <div class="container-flex">
            <div class="row">
                <div class="col-xs-10 col-sm-4 col-md-6">
                    <h1>@ViewBag.Title</h1>
                </div>
            </div>

        </div>
    </div>


    <div class="container-flex gutter-small">
        @*<section sl-online="" class="ng-scope online">

                <div class="row">
                    <div class="col-xs-7 col-sm-8 col-md-8">
                        <div class="online-title">
                            <h3 class="text-uppercase">
                                <span class="online-title-info">Pessoas</span>
                                <strong>Online</strong>
                                ( <span class="online-count" auto-remove="">1016</span>
                                <span class="online-count ng-binding ng-hide" ng-show="filter.onlineCount"></span> )
                            </h3>
                        </div>
                    </div>
                </div>
            </section>*@



        <div class="container-flex gutter-small">

            <section class="last-photos  " auto-visible="">

                <!-- Ultimas Fotos Title -->
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-10">
                        <div class="last-photos-title">
                            <h3 class="text-uppercase">
                                <span>Perfis</span>
                            </h3>
                        </div>
                    </div>
                </div>

                <!-- List -->
                <div class="last-photos-list ">


                    <div class="bootstrap snippet">


                        <div id="container" style="width: 60%;">

                            @if (ViewBag.BuscarModel != null)
                            {
                                foreach (var item in ViewBag.BuscarModel.ListaUsuarios)
                                {
                                    Model.Usuario = item.Usuario;


                                    @Html.Partial("_PerfilListPartial", Model);
                                }
                            }


                        </div>

                    </div>

                </div>

                <hr class="ng-scope">
                <div id="progress" style="display:none">
                    <a class="sl-btn btn-primary-inverse text-uppercase" id="btnCarregando" title="Assine">Carregando...</a>
                </div>
                <a class="sl-btn btn-primary-inverse text-uppercase js-carregar-btn" title="Assine">Carregar</a>
                <br />
                <br />



            </section>

        </div>




    </div>

</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link href="~/modules/css/index.css" rel="stylesheet" />
@*@Scripts.Render("~/index/css")*@


<script>
    $(document).ready(function () {



        $('.js-carregar-btn').unbind("click").click(function (e) {
            if ($('#identSearch').val() === undefined) {
                GetData();
            }
            else {
                GetDataSearch();
            }
            e.preventDefault();
        });
    });
</script>








